.call_me {
  grid-area: call_me;
  display: flex;
  align-items: center; }

.call_me_block {
  display: grid;
  grid-template-areas: "call_me_top" "call_me_form" "call_me_bottom";
  grid-template-rows: 120px 170px 140px;
  width: 290px;
  background: #fff;
  grid-area: call_me_block;
  position: relative;
  border-radius: 10px; }

.call_me_top {
  grid-area: call_me_top;
  display: grid;
  grid-template-areas: "old_price new_price";
  grid-template-columns: 1fr 1fr;
  width: 290px;
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 145px 15px;
  border-bottom-right-radius: 145px 15px;
  background: #411208; }

.old_price {
  grid-area: old_price;
  width: 145px;
  height: 120px;
  border-bottom-left-radius: 145px 15px;
  border-top-right-radius: 15px  60px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 15px 60px;
  background: #5e2614;
  display: grid;
  grid-template-rows: 35px 110px;
  grid-template-areas: "old_price_text" "old_price_value";
  color: #805d55; }

.old_price_value {
  grid-area: old_price_value;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 20px; }

.old_price_num {
  font-size: 43px; }

.old_price_rub {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 40px;
  justify-content: flex-end; }

.old_price_text {
  grid-area: old_price_text;
  padding-top: 25px;
  padding-left: 20px;
  font-size: 18px; }

.new_price {
  width: 145px;
  height: 120px;
  grid-area: new_price;
  display: grid;
  grid-template-rows: 35px 110px;
  grid-template-areas: "new_price_text" "new_price_value";
  color: #ffffff; }

.new_price_text {
  grid-area: new_price_text;
  padding-top: 25px;
  padding-left: 10px;
  font-size: 18px; }

.new_price_value {
  grid-area: new_price_value;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 20px; }

.new_price_rub {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 40px;
  justify-content: flex-end; }

.new_price_num {
  font-size: 43px; }

.input {
  height: 55px;
  width: 250px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  background: #f6f6f6; }

.call_me_form {
  grid-area: call_me_form;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px; }

.call_me_bottom {
  grid-area: call_me_bottom;
  font-size: 18px; }

.form_tel {
  padding-top: 15px; }

.submit {
  height: 60px;
  width: 250px;
  padding: 0 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 4px; }

#sub {
  width: 200px;
  height: 60px;
  background: #dc4017;
  border: none;
  font-size: 22px;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.sub_pre {
  width: 50px;
  height: 60px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #b13412;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff; }

.call_me_bottom_info {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  align-items: center;
  padding: 0 20px; }

.call_me_blocked {
  margin: 20px 0; }
  .call_me_blocked img {
    margin-right: 5px; }

.blick {
  position: absolute;
  top: -10px;
  left: 12px; }
